# ─────────────────────────────
# macOS 시스템 파일
# ─────────────────────────────
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ─────────────────────────────
# Python 관련
# ─────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3

# 가상환경
env/
venv/
.venv/
ENV/
.env
.env.*

# 패키징
*.egg-info/
.eggs/
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints/

# PyInstaller
dist/
build/
*.spec

# Cython
*.c
*.so

# ─────────────────────────────
# Markdown 관련
# ─────────────────────────────

# VS Code markdown preview
*.md.pdf
*.md.html

# MkDocs
/site

# ─────────────────────────────
# IDE 설정 파일
# ─────────────────────────────
.vscode/
.idea/
*.log

# ─────────────────────────────
# Obsidian Vault 사용자 정의 제외
# ─────────────────────────────
.obsidian/
assets/
Excaldraw/
Fonts/
report/
Zotero/
삭제파일/
.makemd/
.space/