# ─────────────────────────────
# macOS 시스템 파일
# ─────────────────────────────
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ─────────────────────────────
# Python 관련
# ─────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3

# 가상환경 및 환경변수 파일
env/
venv/
.venv/
ENV/
.env
.env.*

# 패키지, 빌드 관련
*.egg-info/
.eggs/
*.egg
pip-log.txt
pip-delete-this-directory.txt
dist/
build/
*.spec

# Cython
*.c
*.so

# Jupyter 체크포인트
.ipynb_checkpoints/

# ─────────────────────────────
# Markdown / 문서 관련
# ─────────────────────────────
*.md.pdf
*.md.html

# MkDocs 결과물
/site

# ─────────────────────────────
# IDE 설정 및 로그 파일
# ─────────────────────────────
.vscode/
.idea/
*.log

# ─────────────────────────────
# Obsidian Vault: 제외 폴더 및 데이터
# ─────────────────────────────

.obsidian/
.makemd/
.space/
Excaldraw/
assets/
Fonts/
Zotero/
삭제파일/
삭제 파일/
images/
report/

# 자동 생성된 또는 백업 파일
*.bak
*.tmp
*~